html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "Open Sans", Helvetica, Arial, sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.social-app {
  h2 {
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 1.2;
  }
  p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
  }
  ul {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
  }
  .ant-row {
    margin-bottom: 20px;
  }
  .App-header .ant-row {
    margin-bottom: 0px;
  }

  .success-msg {
    color: green;
  }
  .error-msg {
    color: red;
  }

  .action-btn {
    padding: 4px 10px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    line-height: 22px;
    cursor: pointer;
    background: #fff;

    &:hover {
      color: rgb(64, 169, 255);
      border-color: rgb(64, 169, 255);
    }
  }

  .sr-only {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    font-size: 21px;
  }
}
